$smartphone-max-width: 450px;
$tablet-max-width: 775px;
$desktop-min-width: 776px;
$off-white: #f7f8f9;
$navy: #51048c;

@mixin smartphone {
  @media (max-width: #{$smartphone-max-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$smartphone-max-width + 1px}) and (max-width: #{$tablet-max-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-min-width}) {
    @content;
  }
}

@mixin tabletAndDesktop {
  @media (min-width:#{$smartphone-max-width + 1px}) {
    @content;
  }
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: #253F47;
  font-size: 16px;
  line-height: 1.25em;
}


ul {
  list-style: none;
}

header {
 background-color: $off-white;
 #nameAndLogo {
   margin-bottom: 10px;
 }
 #openNavigation {
   @include smartphone {
     display: block;
   }
   @include tabletAndDesktop {
     display: none;
   }
 }
 #name {
   float: right;
   padding-right: 40px;
   text-align: right;
 }
 #logo {
   float: left;
   padding-left: 40px;
   text-align: left;
 }
}

nav {
  background-color: $off-white;
  #closeNavigation, #navigationTitle {
    @include tabletAndDesktop {
      display: none;
    }
  }
  ul {
    margin-top: 20;
    padding: 0;
    text-align: center;
  }
  @include smartphone {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0px;
    background-color: #51048c;
    color: white;
    #closeNavigation{
      text-align: right;
      padding-right: 3px;
    }
    #navigationTitle, #closeNavigation{
      display: block;
    }
    ul {
      text-align: left;
    }
    li {
      color: white;
    }
  }
}
